// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.employee {
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 3px;
    width: 300px;
    padding: 5px;
}